*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

.nav-link{
    color:black;
    font-weight: 600;

}

.navbar-brand{
    color:rgb(255, 0, 0);
    font-size: 30px;
    font-weight: 800;

}

.carousel-caption{
    position: absolute;
    top: 55%;
    transform: translateY(-80%);
    left: -8%;
}

.carousel-caption h1{
    font-size: 70px;
    font-weight: 400;
    color: black;
}

.carousel-caption p{
    color:black;
    font-weight: 600;
}

.btn0{
    background-color: rgb(0, 200, 255);
    height: 45px;
    width: 150px;
    color: white;
    outline: none;
    border: none;

}

.btn0:hover{
    background-color: white;
    color:red;
    transition: 0.3s;

}

/* --------------------------------------------------------------------------------------- */

.sub{
    background-color: gray;
}

.sub input{
    height: 51px;
    width: 50%;
    color: black;
    outline: none;
    padding: 10px;

}

.btn1{
    height: 50px;
    width: 50px;
    color: white;
    background-color:rgb(186, 71, 0);
    outline: none;
    border: none;
    margin-left:-2px;
}

.btn1:hover{
    background-color: rgb(103, 91, 91);
    color: white;
    transition: 0.5s

}

.fas{
    font-size: 32px;

}

/* ----------------------------------------------------------------------------------------- */

.collection span{
    color: rgb(255, 0, 0);
    font-size: 25px;
    font-weight: 800;
    padding-left: 5px;
}

.collection input{
    position: absolute;
    height: 45px;
    width: 110px;
    background-color: rgb(124, 138, 94);
    color: white;
    border-radius: 5px;
    outline: none;
    border: none;
    text-align: center;
    top: 35%;
    left: 30%;
    opacity: 0;





}

.collection .card:hover input{
    opacity: 1;
    transition: 1s;

    }

.collection input:hover{
    background-color: rgb(255, 0, 0);
    transition: 0.5s;
}
/* ------------------------------------------------------------------------------------------------- */
.parallex{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/i9.jpg) no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    width: 100%;


}

.parallex h1{
    font-size: 60px;
    font-weight: 700;


}

.parallex p{
    font-size:25px;


}

.btn2{
    height: 40px;
    width: 110px;
    background: transparent;
    border: 2px solid white;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
}

.btn2:hover{
    background-color: white;
    color: rgb(147, 199, 238);
    transition: 0.3s;
}

.btn3{
    height: 40px;
    width: 110px;
    background-color: white;
    outline: none;
    border: none;
    color: rgb(0, 38, 164);
    border-radius: 5px;
}

.btn3:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    outline: none;
    transition: 0.3s;






}

/* --------------------------------------------------------------------------------------------------------------------- */

.article a{
    list-style: none;
    color: rgb(255, 0, 0);
    outline: none;



}

.article a:hover{
    color:rgb(255, 12, 12);
    transition: 0.3s;

}

.article p{
    font-size: 25px;

}

.article span{
    color: rgb(230, 25, 25);

}

.article small{
    font-size: 15px;

}
/* --------------------------------------------------------------------- */

.contact input{
    height: 50px;
    width: 100%;
    outline: none;
    border: none;
    color: rgb(255, 0, 0);
    background-color: white;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);
box-shadow: 0px 2px 21px -8px rgba(0,0,0,0.75);




}

.btn4{
    height: 45px;
    width: 160%;
    background-color: rgb(0, 187, 255);
    color: white;
    outline: none;
    border:none;
    cursor: pointer;
    display: inline-block;
    








}

.background{
    background: rgba(252, 252, 252, 0.7) url('/images/apple-apple-mac.gif');
    background-size: cover;
    background-blend-mode: darken;
}

#c1{
    color:rgb(200, 253, 6);
}

#c2{
    color:rgb(6, 10, 253);
}

.secondHalf{
    width:30%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.secondHalf img{
    width:300px;
    padding:4px;
    border:4px solid white;
    border-radius:150px;
    display:block;
    margin: auto;
    height: 150px;
}

.firstHalf{
    width:80%;
    display:flex;
    flex-direction: column;
    justify-content:center;
}

.secondHalf{
    flex-direction: column-reverse;
    min-width: 100%;

}

#sm
{
    font-weight: 500;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}

